<!DOCTYPE HTML PUBLIC “-//W3C//DTD HTML 4.01//EN” “http://www.w3.org/TR/html4/strict.dtd”>

<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Valery Yushchenko" />

    <link rel="stylesheet" type="text/css" href="/css/reset-fonts-grids.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/master.css" />

    <!-- <link rel="alternate" type="application/rss+xml"  href="http://feeds.feedburner.com/vyushchenko" title="rss feed"> -->

  </head>

  <body>
      <div id="doc" class="yui-t4">

        <div id="hd">
          <small class="hd-menu">
            {% if page.url != '/index.html' %}
            <a href='/'>home</a>  &laquo;
            {% endif %}
          </small>
          <h1><a href='/'>Valery Yushchenko</a></h1>
          <h3><a href='/' class="light">Little is better than nothing</a></h3>
        </div>

        <div id="bd">
          {{ content }}
        </div>

        <div id="ft">
          <a class='license' rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/" target="_blank">
            Creative Commons - Non Commercial
          </a>
          <span>&copy; 2010-2011 Valery Yushchenko.</span>
        </div>

      </div>

      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25708276-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>      

  </body>

</html>
