---
layout: default
title: Valery Yushchenko
---

<div id="yui-main" class="home">
  <div class="yui-b">
    {{ content }}
  </div>
</div>

<div class="yui-b info">
  <div>
    <img id="photo" width="150" height="180" src="/images/photo.jpeg"></img>
  </div>
  <small>
    <span class="light">A JavaScript Developer</span><br />
    <br />
    <a href="mailto:valery@yushchenko.name" title="No junk mail, please.">valery@yushchenko.name</a> &laquo;<br />
    <span title="Call me if it is really urgent.">+61 416 419 263</span>  &laquo;<br />
    <br />
    <a href="http://twitter.com/#!/vyushchenko" title="Thoughts, links etc.">@vyushchenko</a> &laquo;<br />
    <a href="https://github.com/yushchenko" title="Sharing code.">Github</a> &laquo;<br />
    <a href="http://www.flickr.com/photos/vyushchenko/" title="Playing with camera.">Flickr</a> &laquo;<br />
    <br />
    <a href="https://plus.google.com/106703830109370818653/posts" title="Keeping in touch with friends.">Google+</a> &laquo;<br />
    <a href="http://www.linkedin.com/in/yushchenko" title="Keeping in touch with colleagues.">LinkedIn</a> &laquo;<br />
  </small>
</div>
